<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>BatteryScope</string>
	<key>CFBundleDisplayName</key>
	<string>BatteryScope</string>
	<key>CFBundleIdentifier</key>
	<string>local.personal.BatteryScope</string>
	<key>CFBundleExecutable</key>
	<string>BatteryScope</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.1</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Coloded/batteryScope/main/updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>7AtY00isZY/qy83dhC+X6Bf7Y9c5h1RJjbOu+iE7ciU=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
